<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analysis | Mood Analyzer</title>
    <link rel="stylesheet" href="/css/analysis-face.css" />
    <link rel="stylesheet" href="/css/buttons.css" />

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
  </head>
  <body>
    <nav>
      SENTIMENT ANALYSIS
      <form action="/auth/logout?_method=DELETE" method="post">
        <button type="submit" class="close">Logout</button>
      </form>
      Welcome <%= name %> !!!!
    </nav>

    <h1>All the data goes here</h1>
    <h3>sentiment score: <%= info.sentimentScore %></h3>
    <h3>emotion: <%= info.verdict %></h3>
    <main class="main-1">
      <h1>Result Graph</h1>
      <br />
      <div id="piechart"></div>
    </main>
    <script src="/js/analysis-min.js"></script>
  </body>
</html>
