<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analysis | Mood Analyzer</title>
    <link rel="stylesheet" href="/css/analysis-face.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
  </head>
  <body>
    <nav>
      SENTIMENT ANALYSIS
      <form action="/auth/logout?_method=DELETE" method="post">
        <button type="submit" class="close">Logout</button>
      </form>
      Welcome <%= name %> !!!!
    </nav>

    <h1>All the data goes here</h1>
    <h3>sentiment score: <%= info.sentimentScore %></h3>
    <h3>emotion: <%= info.verdict %></h3>
    <h3>GRAPH</h3>
  </body>
</html>
