<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Sentiment Analysis</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav>SENTIMENT ANALYSIS</nav>
    <header>
      <h1>Fun with background gradients</h1>
      <p>
        Just a bit of fun while wondering about using simple and subtle CSS
        gradients for backgrounds...
      </p>
    </header>
    <main>
      <ul class="cards">
        <li class="card -red">
          <div class="card--image">✤</div>
          <a href="/text">
            <h2>Text</h2>
          </a>
          <p>
            Red is the color at the long wavelength end of the visible spectrum
            of light, next to orange and opposite violet.
          </p>
        </li>
        <li class="card -green">
          <div class="card--image">✦</div>
          <a href="/analysis">
            <h2>Report</h2>
          </a>
          <p>
            Green is the color between blue and yellow on the visible spectrum.
            It is evoked by light which has a dominant wavelength of roughly
            495–570 nm.
          </p>
        </li>
        <li class="card -blue">
          <div class="card--image">❖</div>
          <a href="/Face">
            <h2>Face</h2>
          </a>
          <p>
            Blue is one of the three primary colours of pigments in painting and
            traditional colour theory, as well as in the RGB colour model. It
            lies between violet and green on the spectrum of visible light.
          </p>
        </li>
      </ul>
    </main>
  </body>
</html>
