<!DOCTYPE html>
<html>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self';  style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facial Analysis | Mood Analyzer</title>
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/text.css" />
  </head>
  <body>
    <nav>
      SENTIMENT ANALYSIS
      <form action="/auth/logout?_method=DELETE" method="post">
        <button type="submit" class="close">Logout</button>
      </form>
      Welcome <%= name %> !!!!
    </nav>

    <header>
      <p>
        Just a bit of fun while wondering about using simple and subtle CSS
        gradients for backgrounds...
      </p>
    </header>
    <form action="/text" method="POST">
      <textarea name="text" id="text" cols="30" rows="10"></textarea>
      <button class="pulse" type="submit">Submit</button>
    </form>
  </body>
</html>
