<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src *;
        script-src 'self' 'unsafe-inline';
        media-src *;
        font-src *;
        connect-src *;
        img-src 'self' data: content:;"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Mood Analyzer</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
  </head>
  <body onload="fetchMyData()">
    <nav>
      SENTIMENT ANALYSIS
      <form action="/auth/logout?_method=DELETE" method="post">
        <button type="submit" class="close">Logout</button>
      </form>
      Welcome <%= name %> !!!!
    </nav>
    <header>
      <h1>Sentiment Analysis Application</h1>
      <p>
        Presenting to you the our exclusive application for sentiment analysis.
        Please choose anyone from the given options and click on Analysis to
        view the result.
      </p>
    </header>
    <main>
      <ul class="cards">
        <li class="card -blue">
          <div class="card--image">❖</div>
          <a href="/face">
            <button class="raise">Face</button>
          </a>
          <p>
            Welcome to the Face Analyser. Please enable the webcam access to
            start the streaming.
          </p>
        </li>
      </ul>
    </main>
  </body>
</html>
