* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  padding: 1rem;
  margin-bottom: 20vh;
  font-family: Avenir, sans-serif;
  font-size: 112.5%;
  color: rgb(211, 219, 236);
  background-color: black;
  background-image: radial-gradient(
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0) 40vw
    ),
    radial-gradient(rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 0) 40vw),
    radial-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 40vw),
    radial-gradient(rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0) 40vw),
    radial-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0) 40vw);
  background-position: -40vw 14rem, 50% 10rem, 60vw 14rem,
    -10vw calc(14rem + 20vw), 30vw calc(14rem + 20vw);
  background-size: 80vw 80vw;
  background-repeat: no-repeat;
}

nav {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 1rem;
  border-top: 4px solid #c080c0;
}

header {
  max-width: 600px;
  margin: 25vh auto;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.1;
}
h1 + p {
  margin-top: 1rem;
}

main {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: -1rem;
  list-style: none;
}
@media (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}

.card {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(255, 255, 255, 0.445);
}
.card * {
  margin-bottom: 1rem;
}

.card--image {
  font-size: 6rem;
  line-height: 1;
}
.card.-red .card--image {
  color: #ff8080;
}
.card.-green .card--image {
  color: #80c080;
}
.card.-blue .card--image {
  color: #8080ff;
}
